textarea {
    resize: vertical;
}
.jumbotron{
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.jumbotron a:hover{
    color:#f940fd;
    text-decoration: none;
}
.jumbotron a{
    color:#b612ed;
}
a:hover{
    color:#f940fd;
}
a{
    color:#b612ed;
}
.center{
    color: darkgray;
    text-align: center;
}